@font-face {
    font-family: 'Archena';
    src: url('../../public/fonts/Archena.otf') format('truetype');
    font-weight: 900; /* Black weight is typically 900 */
    font-style: normal;
  }
  @font-face {
    font-family: 'Vibrocentric';
    src: url('../../public/fonts/Vibrocentric Rg.otf') format('truetype');
    font-weight: 900; /* Black weight is typically 900 */
    font-style: normal;
  }
.nutricion {
    background-color: #141414;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    box-sizing: border-box;
     padding-top: 5vh;
 }
 .nutricion h1 {
    font-family: "Vibrocentric";
    font-weight: 400;
    font-size: 2vh;
    font-style: italic;
    color: white;
    width: auto;
    margin: 2vh;
}
.nutricion h3 {
    font-family: "Vibrocentric";
    font-weight: 400;
    font-size: 3vh;
    font-style: bold;
    color: white;
    width: auto;
    margin: 2vh;
}

.nutricion h2 {
    font-family: "Archena";
    font-weight: 400;
    font-size: 10vh;
    font-style: italic;
    color: #42338e;
    width: auto;
    margin: 2vh;
}