/* src/App.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000;
  color: #fff;
}

.App {
  background-color: #141414;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  box-sizing: border-box;
   padding-top: 8vh;
}

.container {
  display: flex;
  justify-content: center;
  height: 100vh;
  position: relative;
}
@font-face {
  font-family: 'Archena';
  src: url('../../public/fonts/Archena.otf') format('truetype');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}
@font-face {
  font-family: 'Vibrocentric';
  src: url('../../public/fonts/Vibrocentric Rg.otf') format('truetype');
  font-weight: 900; /* Black weight is typically 900 */
  font-style: normal;
}
.title4 {
  font-family: "Archena";
  font-weight: 400;
  font-size: 8vh;
  font-style: italic;
  color: white;
  width: auto;
  margin: 2vh;
}
.title5 {
  font-family: 'Vibrocentric';
  src: url('../../public/fonts/Vibrocentric Rg.otf') format('truetype');
   font-weight: 400;
  font-style: normal;
  font-size: 2vh;
  margin: 0;
  width: 80%;
}
.title6{
  font-family: "Archena";
  font-weight: 400;
  font-size: 7vh;
  font-style: italic;
  color: #42338e;
  width: auto;
  margin: 5vh;
}
.button-reservar{
  display: inline-block;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px 20px;
  background-color: white;
  color: #42338e;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

/* mobile version */
@media (max-width: 768px) {
  .title4 {
    width: 100%;
    font-size: 5vh;
  }
  .title5 {
    font-size: 1.7vh;
    /* separecion de lineas en texto*/
    line-height: 1.5;
    margin: 1vh;
  }
  .title6 {
    font-size: 4vh;
  }
  
  .video{
    display: none;
  }

  /* container */
  .container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
  }

}